.cont{
    background-color: #1a1a1a;
    
    width: 100%;
    padding: 50px 0;
    position: relative;
    z-index: 3;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
    .text{
        width: 100%;
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h4{
            display:  flex;
            justify-content: center;
            align-items: center;
     

            line-height: 50px;
            font-size: 1.4rem;
            margin-top: 80px;
            box-shadow: inset 0 0 0px 1px #2cfcd8;
            padding: 15px;
            position: relative;
            overflow: hidden;
            box-sizing: border-box;
        min-width: 280px;
        width: 40%;

            // &::after{
            //     content: "";
            //     position: absolute;
            //     height: 300px;
            //     width: 200px;
            //     right: 0%;
            //     top:0px;
            //     transform: rotate(-45deg) translate(100%,50%) scale(1,2);
            //     background-color:#1a1a1a;
            //     z-index: 6;
            //     border-left: 1px solid#2cfcd8;
            // }
        }

        .top_section{
            width:90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
h3{

            font-size: 2rem;
            line-height: 45px;
            border: 3px solid #fa2759;
            padding: 20px;
            z-index: 3;
            position: relative;
           
            width: 800px;
            max-width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
    
            }

.me-bottom{
        width:250px;
        height:250px;
        border-radius: 100%;
        object-fit: cover;
        right:10%;
        z-index: 1;
        box-shadow: 0px 0px 4px 1px white, 0 0 20px 10px var(--primary-blue);
        object-position: 45% 50%;
        translate:0 -50%;
        margin-left: 100px;
        
        
    }
// .deco{
//  width:250px;
//         height:250px;
//         border-radius: 100%;
//         position: absolute;
//         right: 10%;
//         top:100px;
//         background-color: #1a1a1a;
//         z-index: 2;
//     border-top:10px solid#2cfcd8;
//         border-bottom: 10px solid  #2cfcd8;
// border-left: 10px solid #fa2759;
// border-right: 10px solid #fa2759;
//         }

        }

            ul{
           
                margin-top: 40px;
                border-left: 2px solid #2cfcd8;
                border-right: 2px solid #fa2759;
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 0 20%;
                list-style: none;

                
            }
li{
    margin: 20px;
    width: 80%;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
 
   
    // &::before{
    //     content:".";
    //     margin-right: 1rem;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     height:0.35rem;
    //     font-size: 2.3rem;

    // }

}
    }
    h2{
        color:white;
        font-size: 2rem;
        margin-left: 20%;
        margin-right: auto;
        font-family: Source Code Pro;
    }
    span{
        color:white;
    }
    
}
@media (max-width:700px) {
    .cont{
        h2{
            margin: 0;
        }
        .text{
            margin-left: 0;
            display: flex;
            flex-direction: column;
          justify-content: center;
          align-items: center;
ul{

            padding: 0 10px;
            width: 90%;
        li{
            width: 100%;
            justify-content: center;
            padding: 0 20px;
            text-align: center;

        }
    }
            .top_section{
                flex-direction: column-reverse;
                margin: 0;
                padding: 0;
                align-items: center;
                height:70vh;
            h3{

                margin: 0 5%;
                font-size: 1.2rem;
                line-height: 1.8rem;
                width: 100%;
                margin: 0;
                max-width: unset;
            }
            .me-bottom{
margin: 50px;
border-radius: 20px;
                translate: 0 0;
            }}
h4{
        margin-left: 0;
        padding-left: 10%;
        padding-right: 10%;
        margin: 100px 10% 0px ;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        }
        }
        // .me-bottom{
            
        //     display: none;
        // }
        
    }
    
    
}