<div class="cont">
  <h2 data-aos="fade-down" data-aos-duration="2000">About Me</h2>
  <div class="text">
    <div class="top_section">
      <h3>
        <i>
          I'm a young Software Developer dedicated to leave my mark on the
          digital building blocks of our modern world</i
        >
      </h3>
      <img class="me-bottom" src="assets/img/me.jpg" alt="" />
      <!-- <div class="deco" [@imgCoverState]="imgCoverState"></div> -->
    </div>
    <h4>Besides Coding I value:</h4>
    <ul>
      <li>My family - which keeps me focused on what's important</li>
      <li>My animals - which make my life joyful</li>
      <li>sports - which keeps my head leveled</li>
      <li>music - my way of rejuvenating my ressources</li>
    </ul>
  </div>
</div>
