<nav class="collapsed" [@showHide]="showNav ? 'visible' : 'hidden'">
  <svg class="logo" viewBox="0 0 200 100">
    <path class="dash top right" d="M132 35 L 170 35"></path>
    <path class="dash middle right" d="M132 50 L 190 50"></path>

    <path class="dash bottom right" d="M132 65 L 170 65"></path>
    <path class="dash top left" d="M68 35 L30 35"></path>
    <path class="dash middle left" d="M68 50 L10 50"></path>
    <path class="dash bottom left" d="M68 65 L30 65"></path>
    <path class="bracket left" d="M 90 20 L 70 20 L 70 80 L 90 80"></path>
    <path class="bracket right" d="M 110 20 L 130 20 L 130 80 L 110 80"></path>
    <text x="75" y="63" textLength="50">S B</text>
  </svg>

  <div class="links" [class.showLinks]="showLinks">
    <div class="link" href="" (click)="scroll('skills')">Skills</div>
    <div class="link" (click)="scroll('projects')">Projects</div>
    <div class="link" (click)="scroll('about')">About</div>
    <div class="link" (click)="scroll('contact')">Contact</div>

   
  </div>
   <svg class="burger" (click)="toggleBurger()" viewBox="0 0 100 100" #burger>
      <rect
        id="top"
        class="line top"
        x="10"
        y="20"
        width="80"
        height="8"
        rx="4"
      ></rect>
      <rect id="middle" x="10" y="45" width="80" height="8" rx="4"></rect>

      <rect id="bottom" x="10" y="70" width="80" height="8" rx="4"></rect>
    </svg>
  <!-- <div class="home">
    <img class="homebutton" src="assets/img/home.png" alt="" />
    <img class="backarrow" src="assets/img/backwards.png" alt="" />
  </div> -->
</nav>
