.cont{
    // height:100vh;
    min-height: 100vh;
    width: 100%;
    background-color: black;
    padding: 50px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h2{
        color:white;
        margin: 0;
        margin-left: 15%;
        margin-right: auto;
        font-size: 2rem;
        border-bottom: none;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: auto;
        margin-top: 50px;

        width: 50%;
        min-width: 280px;
        // position: absolute;
        // left:50%;
        // top:200px;
        // transform: translateX(-50%);
        background-color: #1a1a1a;
        padding: 5% 40px;
        border: 1px solid white;
    .information
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        .label_input{
          width:65%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           // margin: 0 40px;
            margin-bottom: 40px;


        label{
            margin-bottom: 3px;
            background-color: #2cfcd822;
box-shadow: 0 -2px 3px 4px #2cfcd877;
text-align: center;
color: white;
height:2.5rem;
width: 100px;
margin-right: auto;
margin-left: 38%;
translate: -50%;
display: flex;
justify-content: center;
align-items: center;
letter-spacing: 2px;
font-size: 1rem;
padding: 10px 10px;

            font-style: italic;

        }
        input{
            color:white;
            
            width:200px;
            width: 100%;
            height:3rem;
            padding:0 10px;
            border: 1px solid #fa2759;
            background-color: #fa275922;
            color:white;
        box-sizing: border-box;
        //text-align: center;
            &[type]{
                //width: 50%;
            }
        }}}
        textarea{
            text-shadow: 1px 1px black, -1px -1px rgb(204, 135, 32);
            padding: 10px 10px;
            font-size: 1.4rem;
            width: 90%;
            margin-top: auto;

box-shadow: 0 0 3px 5px white;
            resize: none;
            height:50%;
            background-color:black;
            background-color: #ffffff33;
            border: 1px solid #fa2759; 
            color:rgb(238, 238, 113);
        }
    }
    
}
@media (max-width:900px) {
    .cont{form{
        margin: 50px 5%;
        width: 90%;
        padding:50px 5%;
       .information{
.label_input{
    width:100%;
    input{
        width: 90%;
    }
}
       }
    }
    
    }
}