
    
    .container{
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding-bottom: 50px;
        
      //  background: linear-gradient(90deg, #1a1a1a,var(--primary-darkblue),#1a1a1a);
    //background: linear-gradient(135deg, var(--primary-pink), var(--primary-blue));
    .intro-text{

  
    width: 100%; 
margin-top: 0;
            padding: 10%  min(100px,4%);
            
            height: calc(100vh - 130px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            //background: radial-gradient(var(--primary-darkblue), var(--primary-blue-opacity));
            background: radial-gradient(black,#1a1a1a);
            align-items: center;
            position: relative;
            z-index: 4;
            border-radius: 30px;

    border: 2px solid white;
    box-shadow: 0 0 9px 1px white,0 0px 80px 0px #5959b6 ;
    color:var(--primary-darkblue);
    font-size: 2rem;
    .line1{
        color:chartreuse;
        font-family: Source Code Pro;
    }
    .line3{
        color:chartreuse;
        font-family:Source Code Pro;
        font-size: 3.2rem;
    }


            
            
        .full_name{
            font-size: 3.5rem;
            font-weight: 700;
            font-style: italic;
            text-shadow: 1px 1px black, -1px -1px white , 0px -2px rgb(244, 215, 215), 0px 1px black;
            font-family:Montserrat;
            display: flex;
            .last{
                padding-left: 10px;
            }
        color: #5959b6;
        white-space: nowrap;

        width: fit-content;
        border-top: none;
        padding:10px 40px;
        border-radius: 5px;
        transition: all 200ms;
        box-sizing: content-box;
        position: relative;
 
        
        &:hover{
            border-left-width: 0;
            border-right-width: 0;
            border:none;
            font-size: 4rem;
            letter-spacing: 6px;
        //     &::before{
        //         height:200%;
        //         width: 100%;
        //         content:"";
        //         position:absolute;
        //         left:0;
        //         bottom: 0;
        //         transform: translateY(50%);
        // box-shadow: -4px 0px 4px -3px rgba(255, 217, 0, 1);

        //     }
        }
        }
        .intro{
            font-family: Source Code Pro;
            white-space: nowrap;
            font-size: 3rem;
            font-style: italic;
            color: chartreuse;
            position: relative;

border: 2px  solid chartreuse;
            border-left: none;
            border-right: none;
            width: 100%;
            padding: 15px 40px;
            right:0;
            transition: all 300ms;
            text-align: center;
            overflow: hidden;
            .intro-animate{
                position: absolute;
                left:0;
                top:0;
                background-color: chartreuse;
                width:40px;
                height: 100%;
            }
            &::after{

                    content:"";
                    position: absolute;
                    width:40%;
                    height: 100%;
                    left:0;
                    bottom:0;
                    opacity: 1;
            transition: all 500ms;
            border-radius: 5px;

            }
            // &:hover{
            //     right:-30px;
            //     border-color: rgba(208, 250, 167, 0.464);
            //     box-shadow: 0 0 10px 2px chartreuse;
            //     transform: scale(1.1);

            //     &::after{
            //         opacity: 1;
            //         transform: translateX(-80%) scaleY(1.3);
            //         width:30%;
            //         transition: all 400ms;
            //         background-color: rgba(128, 255, 1, 0.996);
                    

            //     }
            // }
        }
    
    }
.intro-box{
                background-color: #1a1a1a;
                aspect-ratio: 1;
            // background-color: #fde467b2;
            background-color: #5959b6;
            box-shadow: 0px 2px 6px 2px#fefefe92, 0 0px 80px 0px #5959b6 ;
            line-height: 2rem;
            font-size: 1.4rem;
            color:rgb(20, 0, 0); 
            width: 80%; 
            //padding:20px 0;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            height:100%;

            .pitch{
                height:40%;
                margin: 0;
                translate:-5%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            .highlight{
                font-size: 2rem;
                font-style: italic;
                text-shadow: 1px 1px white;
            }
                    &.bottom{
                        border-radius:0 50px 50px 0 ;
                       // translate: 15% 0;
                   // background-color: rgb(131, 232, 211) ;
                   background-color: var(--primary-blue);

                    translate:5%;
                    }
                    background-color: var(--primary-pink);
                    //background-color: var(--primary-pink);
                    box-shadow: 0 0 10px 3px #1a1a1a;
                    margin:10px;
                    padding:50px 50px 50px 30px;
                    border-radius: 50px 0 0 50px;
                    font-family: Montserrat;
                    ul{
                        margin-top: 0;
                    }
                    button{
                        width:100%;
                        height:4rem;
                        background-color:rgba(4, 247, 4, 0.7);
                        font-size: 2rem;
                        color:white;
                        border:none;
                    box-shadow: 0 0 5px 1px white;

                        transition: all 200ms;
                    &:hover{
                        scale:1.2;
                        translate: 20px 0px;
                        transform :skew(0deg,2deg);

                    box-shadow: 0 0 15px 1px white;
                    transition: transform 20ms;
                    }
                    }
                }
            }}

@media (max-width:900px) {
    .container{
    .intro-text{
        padding: 50px 10px;
        .full_name{
           flex-direction: column;
           justify-content: center;
           align-items: center;
           font-size: 3rem;
           padding: 0;
           span{
            width: 100%;
           }
        }

.intro{
        font-size: 1.77rem;
        padding-left: 20px;
        padding-right: 20px;
        .intro-animate{
            width:15px;
        }
    }
    }
    
    .intro-box{
        .pitch{
            min-height: 40vh;
        }
    }
}
}
@media (min-width:1050px){
    .container{
        .intro-box{
            .pitch{
                
                font-size: 3rem;
                text-align: center;
                line-height: 4rem;
                .highlight{
                    font-size: 4rem;
                }
            }
        }
    }
}